<section class="about-me" id="about-me">
  <div class="about-me-container">
    <h2 class="visually-hidden">About me</h2>
    <div class="about-me-card">
      <p class="about-me-title">
        I work with people all over the world to create impressive and
        <span class="title-part-red">functional</span>
        <span class="title-part-grey">websites</span> that reflect each client's
        unique personality.
      </p>
      <picture>
        <source
          srcset="
            ../img/projects/man-image.png    1x,
            ../img/projects/man-image-2x.png 2x
          "
          media="(min-width: 1440px)"
        />
        <source
          srcset="
            ../img/projects/tab/man-image-tab.png    1x,
            ../img/projects/tab/man-image-tab-2x.png 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ../img/projects/mob/man-image-mob.png    1x,
            ../img/projects/mob/man-image-mob-2x.png 2x
          "
          media="(max-width: 767px)"
        />
        <img
          class="about-me-img"
          src="../img/projects/tab/man-image.png"
          alt="man-photo"
          width="680"
        />
      </picture>
    </div>

    <!-- -----------   Accordion   ----------- -->

    <ul class="about-me-list accordion-container">
      <li class="about-me-item ac">
        <h3 class="about-me-list-title ac-header">
          About me
          <button class="about-me-ac-button ac-trigger" type="button">
            <svg class="about-me-svg" width="20" height="20">
              <use href="../img/icons.svg#icon-arrow-down"></use>
            </svg>
          </button>
        </h3>
        <div class="about-me-list-text ac-panel">
          <p class="about-me-item-text">
            I am Lloyd Jefferson, a talented programmer with extensive expertise
            in software development. I have an understanding of different
            programming languages ​​and technologies, always ready to improve my
            skills. I always follow the latest trends and look for
            unconventional, creative solutions to problems. I have a high level
            of analytical skills and am able to effectively solve even the most
            difficult tasks encountered on the way.
          </p>
          <p class="about-me-item-text">
            Able to work both independently and in a team. I can effectively
            cooperate with colleagues, exchanging ideas and finding optimal
            solutions. Professional maturity allows you to calmly cope with
            challenges and stressful situations, while maintaining a high
            quality of work. I am always looking for opportunities for
            self-improvement. I actively study new technologies and practices to
            stay abreast of the latest innovations. I have a strong
            understanding of various programming languages, frameworks and
            architectural concepts that allow me to create efficient and
            scalable software.
          </p>
        </div>
      </li>
      <li class="about-me-item ac">
        <h3 class="about-me-list-title ac-header">
          rOLE
          <button class="about-me-ac-button ac-trigger" type="button">
            <svg class="about-me-svg" width="20" height="20">
              <use href="../img/icons.svg#icon-arrow-down"></use>
            </svg>
          </button>
        </h3>
        <div class="about-me-list-text ac-panel">
          <p class="about-me-item-text">Frontend development</p>
          <p class="about-me-item-text">HeadlessCMS,Wordpress</p>
          <p class="about-me-item-text">Blender(enjoy)</p>
        </div>
      </li>
      <li class="about-me-item ac">
        <h3 class="about-me-list-title ac-header">
          eDUCATION
          <button class="about-me-ac-button ac-trigger" type="button">
            <svg class="about-me-svg" width="20" height="20">
              <use href="../img/icons.svg#icon-arrow-down"></use>
            </svg>
          </button>
        </h3>
        <div class="about-me-list-text ac-panel">
          <p class="about-me-item-text">
            2018 - 2019 / Frontend Development Diploma, GoIT IT School, New York
          </p>
          <p class="about-me-item-text">
            2019 - 2020 / Advanced Web Development Certificate, GoIT IT School,
            New York
          </p>
          <p class="about-me-item-text">
            2020 - 2022 / Advanced Blender Animation Techniques, Udemy
          </p>
        </div>
      </li>
    </ul>

    <!-- ---------------Swiper----------- -->

    <div class="box-slide">
      <div class="about-me-slide swiper">
        <ul class="about-me-slide-list swiper-wrapper">
          <li class="first-slide about-me-slide-item swiper-slide">HTML/CSS</li>
          <li class="about-me-slide-item swiper-slide">JavaScript</li>
          <li class="about-me-slide-item swiper-slide">React</li>
          <li class="about-me-slide-item swiper-slide">Node.js</li>
          <li class="about-me-slide-item swiper-slide">React Native</li>
          <li class="about-me-slide-item swiper-slide">Soft skills</li>
          <li class="about-me-slide-item swiper-slide">Python</li>
        </ul>
      </div>
      <div class="about-me-slide-button">
        <svg class="slide-svg" height="28" width="28">
          <use href="../img/icons.svg#icon-arrow-narrow-right"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
