<section class="covers">
  <div class="covers-container">
    <h1 class="visually-hidden">Covers</h1>
    <div class="content">
      <div class="marquee">
        <div class="marquee__inner">
          <!-- <div class="marquee__line">
            <img src="../img/projects/Rectangle 10.png" alt="" />
          </div>
          <div class="marquee__line">
            <img src="../img/projects/Rectangle 5.png" alt="" />
          </div>
          <div class="marquee__line">
            <img src="../img/projects/Rectangle 7.png" alt="" />
          </div>
        </div>
        <div class="marquee__inner">
          <div class="marquee__line">
            <img src="../img/projects/Rectangle 11.png" alt="" />
          </div>
          <div class="marquee__line">
            <img src="../img/projects/Rectangle 6.png" alt="" />
          </div>
          <div class="marquee__line">
            <img src="../img/projects/Rectangle 10.png" alt="" />
          </div>
        </div>
        <div class="marquee__inner">
          <div class="marquee__line">
            <img src="../img/projects/Rectangle 9.png" alt="" />
          </div>
          <div class="marquee__line">
            <img src="../img/projects/Rectangle 4.png" alt="" />
          </div>
          <div class="marquee__line">
            <img src="../img/projects/Rectangle 8.png" alt="" />
          </div> -->
        </div>
      </div>
    </div>
  </div>
</section>
