<section class="covers">
  <div class="covers-container">
    <h2 class="visually-hidden">Covers</h2>
    <div class="content-marquee">
      <div class="marquee">
        
        <div class="marquee__inner">
          <div class="marquee__line">
            <img src="/img/projects/Rectangle_9.png" alt="" srcset="/img/projects/Rectangle_9.png 1x, /img/projects/Rectangle_9_2x.png 2x"/>
          </div>
          <div class="marquee__line">
            <img src="/img/projects/Rectangle_4.png" alt="" srcset="/img/projects/Rectangle_4.png 1x, /img/projects/Rectangle_4_2x.png 2x"/>
          </div>
          <div class="marquee__line">
            <img src="/img/projects/Rectangle_8.png" alt="" srcset="/img/projects/Rectangle_8.png 1x, /img/projects/Rectangle_8_2x.png 2x"/>
          </div>
          <div class="marquee__line">
            <img src="/img/projects/Rectangle_5.png" alt="" srcset="/img/projects/Rectangle_5.png 1x, /img/projects/Rectangle_5_2x.png 2x"/>
          </div>
          <div class="marquee__line">
            <img src="/img/projects/Rectangle_11.png" alt="" srcset="/img/projects/Rectangle_11.png 1x, /img/projects/Rectangle_11_2x.png 2x"/>
          </div>
        </div>
        <div class="marquee__inner">
          <div class="marquee__line">
            <img src="/img/projects/Rectangle_10.png" alt="" srcset="/img/projects/Rectangle_10.png 1x, /img/projects/Rectangle_10_2x.png 2x"/>
          </div>
          <div class="marquee__line">
            <img src="/img/projects/Rectangle_5.png" alt="" srcset="/img/projects/Rectangle_5.png 1x, /img/projects/Rectangle_5_2x.png 2x"/>
          </div>
          <div class="marquee__line">
            <img src="/img/projects/Rectangle_7.png" alt="" srcset="/img/projects/Rectangle_7.png 1x, /img/projects/Rectangle_7_2x.png 2x"/>
          </div>
          <div class="marquee__line">
            <img src="/img/projects/Rectangle_12.png" alt="" srcset="/img/projects/Rectangle_12.png 1x, /img/projects/Rectangle_12_2x.png 2x"/>
          </div>
          <div class="marquee__line">
            <img src="/img/projects/Rectangle_9.png" alt="" srcset="/img/projects/Rectangle_9.png 1x, /img/projects/Rectangle_9_2x.png 2x"/>
          </div>
        </div>
        <div class="marquee__inner">
          <div class="marquee__line">
            <img src="/img/projects/Rectangle_11.png" alt="" srcset="/img/projects/Rectangle_11.png 1x, /img/projects/Rectangle_11_2x.png 2x"/>
          </div>
          <div class="marquee__line">
            <img src="/img/projects/Rectangle_6.png" alt="" srcset="/img/projects/Rectangle_6.png 1x, /img/projects/Rectangle_6_2x.png 2x"/>
          </div>
          <div class="marquee__line">
            <img src="/img/projects/Rectangle_10.png" alt="" srcset="/img/projects/Rectangle_10.png 1x, /img/projects/Rectangle_10_2x.png 2x"/>
          </div>
          <div class="marquee__line">
            <img src="/img/projects/first screen_1.png" alt="" srcset="/img/projects/first screen_1.png 1x, /img/projects/first screen_1_2x.png 2x"/>
          </div>
          <div class="marquee__line">
            <img src="/img/projects/Rectangle_10.png" alt="" srcset="/img/projects/Rectangle_10.png 1x, /img/projects/Rectangle_10_2x.png 2x"/>
          </div>
        </div>
        <div class="marquee__inner">
          <div class="marquee__line">
            <img src="/img/projects/Rectangle_9.png" alt="" srcset="/img/projects/Rectangle_9.png 1x, /img/projects/Rectangle_9_2x.png 2x"/>
          </div>
          <div class="marquee__line">
            <img src="/img/projects/Rectangle_4.png" alt="" srcset="/img/projects/Rectangle_4.png 1x, /img/projects/Rectangle_4_2x.png 2x"/>
          </div>
          <div class="marquee__line">
            <img src="/img/projects/Rectangle_8.png" alt="" srcset="/img/projects/Rectangle_8.png 1x, /img/projects/Rectangle_8_2x.png 2x"/>
          </div>
          <div class="marquee__line">
            <img src="/img/projects/Rectangle_5.png" alt="" srcset="/img/projects/Rectangle_5.png 1x, /img/projects/Rectangle_5_2x.png 2x"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
