<header class="header  fixed" id="header">
    <div class=" header-div">
        <div class="header-logo">
            <a class="header-link" href="./index.html">
                <picture>
                    <source srcset="/img/jefferson-1x.webp 1x, /img/jefferson-2x.webp 2x" media="(min-width: 1280px)" />
                    <img class="header-img" src="./img/jefferson-1x.webp" alt="Jefferson" width="80px" height="80px">

                </picture>
                <span class="header-logo-text">jefferson*</span>
            </a>

        </div>

        <nav class="header-nav">
            <button type="button" class="header-menu-btn js-header-menu-btn header-btn">
                Menu
            </button>
            <ul class="header-submenu">
                <li class="header-submenu-item">
                    <a href="#about-me" class="menu-navigation">About Me</a>
                </li>
                <li class="header-submenu-item">
                    <a href="#benefits" class="menu-navigation">Benefits</a>
                </li>
                <li class="header-submenu-item">
                    <a href="#projects" class="menu-navigation">Projects</a>
                </li>
                <li class="header-submenu-item">
                    <a href="#faq" class="menu-navigation">FAQ</a>
                </li>
            </ul>
            </li>


        </nav>
        <button type="button" class="open-menu-btn burger-btn header-btn">
            <svg width="24" height="12" class="open-menu-icon">
                <use href="/img/sprite-menu.svg#icon-mob-munu"></use>
            </svg>
        </button>


        <button type="button" class="order order-menu header-btn">
            <a href="#work" class="mob-menu-nav-link">Order the project</a>
        </button>


    </div>


    <div class="mobile-menu">
        <button class="mobile-menu-close header-btn">
            <svg width="28" height="28" class="menu-close-btn-icon">
                <use href="/img/sprite-menu.svg#icon-close"></use>
            </svg>
        </button>
        <div class="mobile-nav">
            <nav class="mob-header-nav">
                <ul class="mob-header-menu">
                    <li class="mob-header-menu-item">
                        <a href="#about-me" class="mob-menu-nav-link">About Me</a>
                    </li>
                    <li class="mob-header-menu-item">
                        <a href="#benefits" class="mob-menu-nav-link">Benefits</a>
                    </li>
                    <li class="mob-header-menu-item">
                        <a href="#projects" class="mob-menu-nav-link">Projects</a>
                    </li>
                    <li class="mob-header-menu-item">
                        <a href="#faq" class="mob-menu-nav-link">FAQ</a>
                    </li>

                </ul>
            </nav>

        </div>

        <button type="button" class="order-menu header-btn">
            <a href="#work" class="mob-menu-nav-link">Order the project</a>
        </button>


    </div>
</header>