<section class="projects" id="projects">
  <h2 class="section-name">PROJECTS</h2>
  <div class="swiper-container">
    <div class="static-window">
      <ul class="content-items">
        <li class="content">#react</li>
        <li class="content">#js</li>
        <li class="content">#node.js</li>
        <li class="content">#git</li>
      </ul>
      <h3 class="section-idea">
        Programming Across Borders: Ideas, Technologies, Innovations
      </h3>
      <a
        href="https://github.com/aleksey-pru/team-04-js"
        class="project-details-btn"
        target="_blank"
      >
        See project
      </a>
    </div>
    <div class="swiper projects-swiper">
      <div class="swiper-wrapper wrap-swiper">
        <div class="swiper-slide swiper-item">
          <picture>
            <source
              srcset="
                ../img/projects/mob/read1x.jpg 1x,
                ../img/projects/mob/read2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <source
              srcset="
                ../img/projects/tab/read1x.jpg 1x,
                ../img/projects/tab/read2x.jpg 2x
              "
              media="(max-width: 1439px)"
            />
            <source
              srcset="
                ../img/projects/read1x.jpg 1x,
                ../img/projects/read2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <img src="../img/projects/read1x.jpg" alt="read" />
          </picture>
        </div>
        <div class="swiper-slide swiper-item">
          <picture>
            <source
              srcset="
                ../img/projects/mob/petlove1x.jpg 1x,
                ../img/projects/mob/petlove2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <source
              srcset="
                ../img/projects/tab/petlove1x.jpg 1x,
                ../img/projects/tab/petlove2x.jpg 2x
              "
              media="(max-width: 1439px)"
            />
            <source
              srcset="
                ../img/projects/petlove1x.jpg 1x,
                ../img/projects/petlove2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <img src="../img/projects/petlove1x.jpg" alt="petlove" />
          </picture>
        </div>
        <div class="swiper-slide swiper-item">
          <picture>
            <source
              srcset="
                ../img/projects/mob/vocab1x.jpg 1x,
                ../img/projects/mob/vocab2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <source
              srcset="
                ../img/projects/tab/vocab1x.jpg 1x,
                ../img/projects/tab/vocab2x.jpg 2x
              "
              media="(max-width: 1439px)"
            />
            <source
              srcset="
                ../img/projects/vocab1x.jpg 1x,
                ../img/projects/vocab2x.jpg 2x
              "
              media="(min-width: 1158px)"
            />
            <img src="../img/projects/vocab1x.jpg" alt="vocab" />
          </picture>
        </div>
      </div>
    </div>
  </div>
  <div class="nav-btns">
    <div class="swiper-btn-left">
      <svg class="swiper-arrow" height="32" width="32">
        <use href="../img/icons.svg#icon-arrow-narrow-right"></use>
      </svg>
    </div>
    <div class="swiper-btn-right">
      <svg class="swiper-arrow" height="32" width="32">
        <use href="../img/icons.svg#icon-arrow-narrow-right"></use>
      </svg>
    </div>
  </div>
</section>
