<section class="reviews">
  <div class="container-reviews">
    <h2 class="reviews-title">Reviews</h2>
    <div class="swiper reviews-slider">
      <ul class="swiper-wrapper reviews-list"></ul>
    </div>
    <div class="slider-controls">
      <button
        class="slider-btn prev swiper-button-prev"
        aria-label="Previous review"
      >
        <svg class="slider-icon">
          <use href="/img/icons.svg#icon-arrow-narrow-left"></use>
        </svg>
      </button>
      <button
        class="slider-btn next swiper-button-next"
        aria-label="Next review"
      >
        <svg class="slider-icon">
          <use href="/img/icons.svg#icon-arrow-narrow-left"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
