  <footer class="letswork-together" id="work-together">
    <div class="container-footer">
      <h2 class="title-letswork" hidden>Let’s work together</h2>

      <div class="text-block">
        <div class="text-img-block">
          <img
            width="70"
            height="70"
            class="work-together-img"
            srcset="
              /img/projects/image-work-with-x1.webp 1x,
              /img/projects/image-work-with-x2.webp 2x
            "
            src="/img/projects/image-work-with-x1.webp"
            alt="Man on the photo"
          />
          <p class="text-block-small">
            Let’s&nbsp;<span class="work-word">work</span>
          </p>
        </div>
        <p class="word-below">together</p>
      </div>
      <form class="letswork-form">
        <div class="input">
          <input
            type="email"
            id="email"
            name="email"
            placeholder="clients@gmail.com"
            autocomplete="off"
            required
          />
        </div>
        <input
          type="text"
          id="comment"
          name="comment"
          placeholder="comments"
          autocomplete="off"
          required
        />
        <button type="submit" class="send-btn">Send</button>
      </form>
      <div class="contact-information">
        <a class="contact-email" href="mailto:lloydjefferson@gmail.com"
          >lloydjefferson@gmail.com</a
        >
        <a class="contact-phone" href="tel:+3801111111111"
          >+380 11 1111 11 11</a
        >
      </div>

      <div class="modal-overlay">
        <div class="modal">
          <svg class="icon-x" width="24" height="24">
            <use href="/img/icons.svg#icon-x"></use>
          </svg>
          <h2>Thank you for your interest in cooperation!</h2>
          <p>
            The manager will contact you shortly to discuss further details and
            opportunities for cooperation. Please stay in touch.
          </p>
        </div>
      </div>
    </div>
    <script type="module" src="/js/work-together.js"></script>
  </footer>
