.about-me {
  background: #1c1d20;
  font-family: 'Inter Tight', sans-serif;
  padding-top: 64px;
}

.about-me-container {
  max-width: 375px;
  padding: 0 16px;
  margin: 0 auto;
}

.about-me-card {
  margin-bottom: 32px;
  max-width: 343px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.about-me-title {
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: -0.03em;
  font-size: 24px;
  text-transform: uppercase;
  color: #fafafa;

  border-radius: 24px;
  max-width: 343px;
  min-height: 500px;
  padding: 32px;
  background-color: #242527;
}

.title-part-red {
  color: #ed3b44;
}

.title-part-grey {
  color: rgba(250, 250, 250, 0.4);
}

.about-me-list {
  margin-bottom: 32px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0;
}

/*    Accordion    */

.about-me-item {
  background-color: #1c1d20 !important;
  border: none !important;
  border-bottom: 1px solid rgba(250, 250, 250, 0.2) !important;
  margin-top: 20px;
}

.about-me-box-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-me-list-title {
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.02em;
  font-size: 16px;
  text-transform: uppercase;
  color: rgba(250, 250, 250, 0.4);
  padding-bottom: 32px !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-me-ac-button::after {
  display: none !important;
}

.about-me-ac-button {
  border: 1px solid rgba(250, 250, 250, 0.2) !important;
  border-radius: 50%;
  background-color: transparent;
  width: 40px !important;
  height: 40px !important;

  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-me-svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-me-item-text,
.about-me-item-text-first {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.02em;
  font-size: 16px;
  color: #fafafa;
  padding-bottom: 32px;
}

.about-me-item-text {
  padding-bottom: 10px;
}

/* -----Swiper------- */

.box-slide {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-me-slide {
  width: 260px;
  height: 130px;
  margin-left: 0 !important;
}

.about-me-slide-list {
  padding: 0;
  margin: 0;
  width: 260px !important;
}

.about-me-slide-item {
  border-radius: 50%;
  border: 1px solid rgba(250, 250, 250, 0.2);

  text-align: center;
  font-weight: 500;
  letter-spacing: -0.02em;
  font-size: 16px;
  text-transform: uppercase;
  color: #fafafa;
}

.about-me-slide-item::before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.active-slide {
  background-color: #ed3b44;
}

.about-me-slide-button {
  width: 40px;
  height: 40px;
}

.slide-svg {
  fill: none;
  stroke: #3b3b3b;
}

/*   MEDIA    */

@media screen and (min-width: 768px) {
  .about-me {
    padding-top: 64px;
  }

  .about-me-container {
    max-width: 768px;
    padding: 0 32px;
  }

  .about-me-card {
    max-width: 704px;
    margin-bottom: 64px;
  }

  .about-me-title {
    line-height: 1.05;
    font-size: 38px;
    height: 700px;
    max-width: 704px;
    padding: 64px;
  }

  .about-me-img {
    width: 704px;
  }

  .about-me-list {
    margin-bottom: 64px;
    gap: 32px;
  }

  .about-me-slide {
    width: 600px;
    height: 200px;
  }
}

@media screen and (min-width: 1440px) {
  .about-me {
    padding-top: 96px;
  }

  .about-me-container {
    max-width: 1440px;
    padding: 0 32px;
  }

  .about-me-card {
    max-width: 1376px;
    height: 700px;
    margin-bottom: 96px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .about-me-title {
    line-height: 1.05;
    font-size: 38px;

    width: 680px;
    height: 700px;
    padding: 64px;
  }

  .about-me-img {
    width: 680px;
  }

  .about-me-list {
    margin-bottom: 96px;
  }

  .about-me-list-text {
    padding: 8px 68px 32px 696px;
  }

  .about-me-slide {
    width: 1200px;
  }
}
